body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: hidden;
}

.background {
  width: 100%;
  height: 100%;
}

.about {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 40%;
  transition: 150ms;
}

.about:hover {
  opacity: 100%;
  cursor: pointer;
}

.colorProps {
  top: 50%;
  padding: 20px;
  width: 400px;
}

.colorProps span {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.colorProps svg {
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1.2px rgb(121, 121, 121);
}

.colorProps svg:hover {
  box-shadow: 0px 0px 2px 1px rgb(121, 121, 121);

}

.colorProps h2 {
  margin-right: 20px;
  margin-top: 15px;
}

.colorProps svg:hover {
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1px;
  background-color: black;
}

.infoMsg {
  top: 50%;
  font-size: 28px;
}

.instructions {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;}

.instructions svg {
  box-shadow: none;
  margin-top: 13px;
}

.instructions svg:hover {
  box-shadow: none;
  cursor: default;
}

.copyPopup {
  bottom: -200px;
  transition: 200ms ease;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.copyPopup div {
  position: relative;
  display: flex;
}

.copyPopup svg {
  color: green;
  margin-top: 15px;
  margin-left: 5px;
}

.popup {
  bottom: 0 !important;
}

.absolute {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor {
  cursor: default !important;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}